.nav-pills > li {
	display: inline-block;
	float: unset;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	margin-right: -4px;
}
.nav-pills > li > a {
	color: white;
}
.nav-pills > li > a:hover {
	background-color: #f8629ef3;
	border-radius: unset !important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #ee0863;
	border-radius: unset !important;
}
.nav-pills {
	background-color: #fea9c6;
	width: 100%;
	text-align: center;
}
img {
	border-radius: 15px;
}
.tab-panel-text {
	padding-left: 0.3rem;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-size: 1.8rem;
	color: #5f5f5f;
	text-transform: uppercase;
	font-weight: bold;
}
@media (max-width: 768px) {
	.tab-panel-text {
		font-size: 1.3rem;
	}
}
#kpth {
	position: relative;
	z-index: 10;
	opacity: 0;
	padding-top: 50px;
}
@media (min-width: 768px) {
	#kpth {
		padding-top: 48px;
	}
}
@media (min-width: 1024px) {
	#kpth {
		padding-top: 55px;
	}
}
#kpth .content-wrap {
	max-width: 850px;
}
.kpth-slide-video_text {
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	color: #5f5f5f;
	text-transform: uppercase;
	font-weight: bold;
}
@media (max-width: 768px) {
	.kpth-slide-video_text {
		font-size: 1rem;
	}
}
#kpth_vid {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	text-align: center;
	overflow: hidden;
	overflow-y: auto;
	padding: 4vh 12%;
}
@media (orientation: portrait) {
	#kpth_vid {
		padding: 25vh 5%;
	}
}
#kpth_vid .layer-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.85);
}
#kpth_vid .close-btn {
	position: absolute;
	z-index: 11;
	top: 0;
	right: 0;
	padding: 6px 15px 8px;
	font-size: 32px;
	line-height: 1;
	font-family: sans-serif;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
}
#kpth_vid .kpth-wrap {
	position: relative;
	z-index: 10;
}
@media (orientation: portrait) {
	#kpth_vid .kpth-wrap {
		position: absolute;
		width: 90%;
		top: 50%;
		left: 5%;
		-webkit-transform: translateY(-55%);
		-ms-transform: translateY(-55%);
		transform: translateY(-55%);
	}
}
#kpth-video {
	margin: 3em 0 0;
	padding-bottom: 5em;
}
@media (min-width: 768px) {
	#kpth-video {
		margin-top: 3vw;
		padding: 0 0 4vw;
	}
}
#kpth-video .kpth-wrap {
	width: 98%;
	margin: 2.5em auto 0;
}
@media (min-width: 768px) {
	#kpth-video .kpth-wrap {
		width: 99%;
		margin-top: 3vw;
	}
}
#kpth-video .kpth-item {
	display: block;
	position: relative;
}
#kpth-video .kpth-item:before,
#kpth-video .kpth-item:after {
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 15px;
}
#kpth-video .kpth-item:after {
	background: url(../images/home/vid-btn.png) no-repeat scroll center/12% auto;
}
#kpth-video .kpth-item:hover:before {
	background: rgba(0, 0, 0, 0.7);
}
#kpth-video .kpth-item:hover:after {
	background-size: 13% auto;
}
#kpth-video .kpth-list {
	margin: 2em auto 0;
}
@media (min-width: 768px) {
	#kpth-video .kpth-list {
		width: 100%;
		margin-top: 3vw;
	}
}
#kpth-video .kpth-list li {
	padding: 0 0.5em;
}
#kpth-video .kpth-list .slick-arrow {
	position: absolute;
	top: 50%;
	left: 0;
	padding: 0 0.2em;
	-webkit-transform: translate(-90%, -50%);
	-ms-transform: translate(-90%, -50%);
	transform: translate(-90%, -50%);
	outline: none;
	border: none;
	font-size: 4em;
	line-height: 1;
	color: #ff94b9;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	background: none;
	text-shadow: 0 0 1px #da4679;
	z-index: 10;
}
@media (min-width: 768px) {
	#kpth-video .kpth-list .slick-arrow {
		top: 40%;
		font-size: 8em;
		padding: 0 0.3em;
	}
}
#kpth-video .kpth-list .slick-arrow:hover {
	color: #ee0863;
}
#kpth-video .kpth-list .slick-arrow.slick-next {
	left: auto;
	right: 0;
	-webkit-transform: translate(90%, -50%);
	-ms-transform: translate(90%, -50%);
	transform: translate(90%, -50%);
}
.kpth-list .slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}
.kpth-list .slick-dots li {
	margin: 0;
}
.kpth-list .slick-dots button {
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	padding: 0;
	border: none;
	border-radius: 100%;
	background-color: white;
	text-indent: -9999px;
}
.kpth-list .slick-dots li.slick-active button {
	background-color: #d30048;
}
@media (min-width: 768px) {
	.hide-desk {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hide-mb {
		display: none !important;
	}
}
.item {
	padding: 1rem;
	text-align: left;
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 481px) and (max-width: 768px) {
	.item {
		font-size: 1.2rem;
	}
}
.item2 {
	padding-left: 0px;
}
.item1 {
	padding-right: 0.8rem;
}
.item1 img {
	transition: 0.5s;
	height: 270px !important;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 8px -1px rgba(135, 135, 135, 1);
	-moz-box-shadow: 4px 4px 8px -1px rgba(135, 135, 135, 1);
	box-shadow: 4px 4px 8px -1px rgba(135, 135, 135, 1);
}
@media (max-width: 480px) {
	.item1 img {
		height: 30vh !important;
	}
}
.item1 img:hover {
	transform: scale(1.05);
}
.item2-text {
	color: #ee0863;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
}
@media (min-width: 481px) and (max-width: 768px) {
	.item2-text {
		font-size: 1.35rem;
	}
}
.item2-link {
	color: gray;
	font-size: 1.6rem;
}
.wrapper-thumbs {
	grid-template-columns: 450px 350px;
	grid-template-rows: 300px 30px;
	grid-column-gap: 30px;
}
@media (max-width: 480px) {
	.wrapper-thumbs {
		grid-template-columns: 100%;
		grid-template-rows: 20% 20%;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.wrapper-thumbs {
		grid-template-columns: 60% 40%;
		grid-template-rows: 100% 20%;
		grid-column-gap: 20px;
	}
}
@media (min-width: 768px) {
	.wrapper-thumbs {
		display: grid;
	}
}
.post {
	padding: 1rem;
	text-align: left;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 1.35rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 175px;
}
.post img {
	height: 180px !important;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(135, 135, 135, 1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(135, 135, 135, 1);
	box-shadow: 1px 1px 3px 1px rgba(135, 135, 135, 1);
	transition: 0.5s;
}
@media (min-width: 375px) {
	.post img {
		height: 200px !important;
	}
}
@media (min-width: 768px) {
	.post img {
		height: 200px !important;
	}
}
@media (min-width: 834px) {
	.post img {
		height: 150px !important;
	}
}
.post img:hover {
	transform: scale(1.05);
}
.wrapper-slick .slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}
.wrapper-slick .slick-dots li {
	margin: 0;
	padding-right: 5px;
}
.wrapper-slick .slick-dots button {
	display: block;
	width: 1.4rem;
	height: 1.4rem;
	padding: 0;
	border: none;
	border-radius: 100%;
	background-color: #ff94b9;
	text-indent: -9999px;
}
.wrapper-slick .slick-dots li.slick-active button {
	background-color: #d30048;
}
.post-text {
	color: #ee0863;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}
.wrapper-slick-item {
	position: relative;
	left: 0px;
	top: 0px;
}
.post1 {
	width: 30%;
	float: left;
}
@media (max-width: 480px) {
	.post1 {
		width: 100%;
		float: unset;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.post1 {
		width: 50%;
		float: left;
	}
}
.post2 {
	width: 70%;
	padding-right: 0;
	padding-left: 2.5rem;
}
@media (max-width: 480px) {
	.post2 {
		width: 100%;
		float: unset;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.post2 {
		width: 50%;
		float: left;
	}
}
.post-text-line {
	line-height: 3rem;
}
.wrapper-slick {
	width: 100%;
}
#kpth-post {
	margin-top: 2vw;
	padding-bottom: 40px;
}

/** popup detail **/
#loading-post {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
}
#loading-post .over-lay-loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background: #fff;
}
.spinner {
	position: relative;
	width: 45px;
	height: 45px;
	margin: 0 auto;
}
.bubble-1,
.bubble-2 {
	position: absolute;
	top: 0;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: #ee0863;
}

.bubble-2 {
	top: auto;
	bottom: 0;
}
.load-9 .spinner {
	animation: loadingI 2s linear infinite;
}
.load-9 .bubble-1,
.load-9 .bubble-2 {
	animation: bounce 2s ease-in-out infinite;
}
.load-9 .bubble-2 {
	animation-delay: -1s;
}
.click-detail {
	cursor: pointer;
}
.post-text-animation:hover {
	text-decoration: underline;
}
.down-right-ani1 span {
	transition: 0.5s;
}
.down-right-ani1:hover span {
	font-size: 1.65rem;
}
@media (min-width: 480px) {
	#detailModal .modal-dialog {
		width: 95%;
	}
}
@media (min-width: 768px) {
	#detailModal .modal-dialog {
		width: 90%;
	}
}
@media (min-width: 1024px) {
	#detailModal .modal-dialog {
		width: 85%;
	}
}
@media (min-width: 1920px) {
	#detailModal .modal-dialog {
		width: 80%;
	}
}
#detailModal .close {
	font-size: 25px !important;
}
#detailModal .modal-title {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	color: #f63458;
	text-transform: uppercase;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 480px) {
	#detailModal .modal-title {
		font-size: 1.9rem;
		width: 90%;
	}
}
#detailModal .modal-header {
	padding: 10px;
	text-align: right;
	border-bottom: unset;
}
#detailModal .modal-date {
	text-align: center;
}
#detailModal .modal-body {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	font-size: 1.5rem;
	color: #333;
	text-align: justify;
}
#detailModal .wp-caption {
	max-width: 90%;
}
#detailModal .modal-body img {
	width: auto;
	border-radius: revert;
	max-width: 90%;
}
#detailModal .modal-body .wp-caption img {
	max-width: 100%;
}
#detailModal .modal-body .aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
#detailModal .alignright {
	float: right;
	margin-left: 1em;
}
#detailModal .aligncenter,
#detailModal .alignleft,
#detailModal .alignright {
	display: table;
	margin-left: 0;
	margin-right: 0;
}
#detailModal .wp-caption-text {
	text-align: center;
	font-weight: 550;
	font-size: 1.3rem;
	padding-top: 5px;
}
@media (max-width: 480px) {
	#detailModal .modal-body {
		padding-left: 25px;
		padding-right: 25px;
	}
}
.news-item {
	padding-left: unset;
	text-align: justify;
}
@media (min-width: 768px) {
	.news-item {
		padding-left: 2.5rem;
	}
}
/** END popup detail**/
.item2-link {
	position: relative;
	display: inline-block;
	font-size: 1.2em;
	color: #999;
	font-weight: 800;
	overflow: hidden;
}
.item2-link span {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 275ms ease;
	transition: -webkit-transform 275ms ease;
	transition: transform 275ms ease;
	transition: transform 275ms ease, -webkit-transform 275ms ease;
}
.item2-link span::before {
	display: inline-block;
	content: attr(data-content);
	color: #333;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: -webkit-transform 275ms ease;
	transition: -webkit-transform 275ms ease;
	transition: transform 275ms ease;
	transition: transform 275ms ease, -webkit-transform 275ms ease;
	text-decoration: underline;
}
.item2-link:hover span {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.item2-link:hover span::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

@keyframes loadingI {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes bounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
@-webkit-keyframes down-right {
	0%,
	to {
		-webkit-transform: none;
		transform: none;
	}
	50% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}
@keyframes down-right {
	0%,
	to {
		-webkit-transform: none;
		transform: none;
	}
	50% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}
